<!doctype html>
<html>
   <head>
      <title>Neon Light Button Hover Effects</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <script type="text/javascript"> </script>
   </head>
   <body>
   <a href="homepage.html">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Tourist Guide
   </a>
   </body>
</html>