<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.name {
  text-align: center;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 10px solid white;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle3 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle4 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



.container:hover .image {
  opacity: 0.4;
}

.container:hover .middle {
  opacity: 1;
}
.container:hover .middle2 {
  opacity: 1;
}
.container:hover .middle3 {
  opacity: 1;
}
.container:hover .middle4 {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 46px;
}
.text2 {
  background-color:#ff0000;
  color: white;
  font-size: 16px;
  padding: 16px 52px;
}
.text3 {
  background-color:#0000cc;
  color: white;
  font-size: 16px;
  padding: 16px 42px;
}
.text4 {
  background-color: #cc00cc;
  color: white;
  font-size: 16px;
  padding: 16px 42px;
}

body {
  background-image: url('flag_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

</style>

</head>
<body>




<div class="container">
  <p class="name"><b>TAJ MAHAL</b></p>
  <img src="https://www.treebo.com/blog/wp-content/uploads/2018/08/Taj-Mahal.jpg" alt="Avatar" class="image" style="width:100%">
  <br></br><br></br>
  <div class="middle">
    <a href="about_north_a"><div class="text">About</div></a>
  </div>
  <div class="middle2">
    <div class="text2">View</div>
  </div>
  <div class="middle3">
    <div class="text3">Location</div>
  </div>
  <div class="middle4">
    <div class="text4">Reviews</div>
  </div>
</div>

<div class="container">
  <p class="name"><b>HUMAYUN'S TOMB</b></p>
  <img src="https://www.treebo.com/blog/wp-content/uploads/2018/08/Humayun%E2%80%99s-Tomb-1.jpg" alt="Avatar" class="image" style="width:100%">
  <br></br><br></br>
  <div class="middle">
    <div class="text">About</div>
  </div>
  <div class="middle2">
    <div class="text2">View</div>
  </div>
  <div class="middle3">
    <div class="text3">Location</div>
  </div>
  <div class="middle4">
    <div class="text4">Reviews</div>
  </div>
</div>

<div class="container">
  <p class="name"><b>RED FORT</b></p>
  <img src="https://www.treebo.com/blog/wp-content/uploads/2018/08/Red-Fort.jpg" alt="Avatar" class="image" style="width:100%">
  <br></br><br></br>
  <div class="middle">
    <div class="text">About</div>
  </div>
  <div class="middle2">
    <div class="text2">View</div>
  </div>
  <div class="middle3">
    <div class="text3">Location</div>
  </div>
  <div class="middle4">
    <div class="text4">Reviews</div>
  </div>
</div>

<div class="container">
  <p class="name"><b>RED FORT</b></p>
  <img src="https://www.treebo.com/blog/wp-content/uploads/2018/08/Agra-Fort.jpg" alt="Avatar" class="image" style="width:100%">
  <br></br><br></br>
  <div class="middle">
    <div class="text">About</div>
  </div>
  <div class="middle2">
    <div class="text2">View</div>
  </div>
  <div class="middle3">
    <div class="text3">Location</div>
  </div>
  <div class="middle4">
    <div class="text4">Reviews</div>
  </div>
</div>




  
</body>
</html>
